/.kdev4
/vsxu.kdev4
CMakeCache.txt
CMakeFiles/
CMakeFiles/*
Makefile
cmake_install.cmake
_plugins_linux/*.so
_plugins_win32/*.dll
*.o
install_manifest.txt
*.exe
/player/vsxu_player
/server/vsxu_server
/plugins/static_factory_cmake_link_directories
/plugins/static_factory_cmake_target_link_libraries
/plugins/static_factory_funcmapping.cpp
/plugins/static_factory_funcmapping.h
/build/*
/inst/*
*.user
*.kdev*
