/.kdev4
/vsxu.kdev4
CMakeCache.txt
CMakeFiles/
CMakeFiles/*
Makefile
cmake_install.cmake
_plugins_linux/*.so
_plugins_win32/*.dll
*.o
install_manifest.txt
*.dll.a
*.exe
/engine/libvsxu_engine.so
/engine_graphics/libvsxu_engine_graphics.so
/player/vsxu_player
/plugins/src/_deprecated/_deprecated.so
/plugins/src/bitmap.modifiers/bitmap.modifiers.so
/plugins/src/bitmap.texgen/bitmap.texgen.so
/plugins/src/math.basic/math.basic.so
/plugins/src/math.oscillator/math.oscillator.so
/plugins/src/mesh.generators.kaleidoscope/mesh.generators.kaleidoscope.so
/plugins/src/mesh.generators.metaballs/mesh.generators.metaballs.so
/plugins/src/mesh.generators.ocean/mesh.generators.ocean.so
/plugins/src/mesh.generators.star/mesh.generators.star.so
/plugins/src/mesh.generators/mesh.generators.so
/plugins/src/mesh.importers.cal3d/mesh.importers.cal3d.so
/plugins/src/mesh.importers.obj/mesh.importers.obj.so
/plugins/src/mesh.modifiers/mesh.modifiers.so
/plugins/src/output.screen/output.screen.so
/plugins/src/particlesystem.generators/particlesystem.generators.so
/plugins/src/particlesystem.modifiers/particlesystem.modifiers.so
/plugins/src/particlesystem.render/particlesystem.render.so
/plugins/src/render.basic/render.basic.so
/plugins/src/render.glsl/render.glsl.so
/plugins/src/render.gravity_lines/render.gravity_lines.so
/plugins/src/render.jaw/render.jaw.so
/plugins/src/render.mesh/render.mesh.so
/plugins/src/render.opengl.extra/render.opengl.extra.so
/plugins/src/render.opengl/render.opengl.so
/plugins/src/render.oscilloscope/render.oscilloscope.so
/plugins/src/render.text/render.text.so
/plugins/src/render.vovoid/render.vovoid.so
/plugins/src/sound.fmod/sound.fmod.so
/plugins/src/string/string.so
/plugins/src/system/system.so
/plugins/src/texture.load/texture.load.so
/plugins/src/texture/texture.so
/plugins/src/sound.pulseaudio/sound.pulseaudio.so
/tools/vsxz/vsxz

